.main_div {
  background-color: cyan;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 5rem;
}